.flex-container {
  margin: auto;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
  background: linear-gradient(
    51deg,
    rgba(214, 203, 203, 0.48783263305322133) 0%,
    rgba(14, 82, 177, 0.6054796918767507) 49%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  width: 50%;
  height: 40%;
}
.inputField {
  margin: 10px 20px;
  height: 35px;
  width: 70%;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.submit-btn {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    51deg,
    rgba(214, 203, 203, 0.48783263305322133) 0%,
    rgba(148, 148, 153, 0.8687850140056023) 5%
  );
}
.errorMsg {
  color: red;
  font-size: 12px;
}
